<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongxinle.mapper.GbAiMessageMapper">

	<resultMap id="BaseResultMap" type="com.nongxinle.entity.GbAiMessageEntity">
		<id column="gb_ai_message_id" property="gbAiMessageId" />
		<result column="gb_ai_message_conversation_id" property="gbAiMessageConversationId" />
		<result column="gb_ai_message_role" property="gbAiMessageRole" />
		<result column="gb_ai_message_content" property="gbAiMessageContent" />
		<result column="gb_ai_message_token_count" property="gbAiMessageTokenCount" />
		<result column="gb_ai_message_create_time" property="gbAiMessageCreateTime" />
	</resultMap>

	<select id="queryMessageListByParams" resultMap="BaseResultMap">
		SELECT * FROM gb_ai_message
		WHERE 1=1
	</select>

	<insert id="upsertRunScopedMessage">
		INSERT INTO gb_ai_message (
			gb_ai_message_conversation_id,
			gb_ai_message_user_id,
			gb_ai_message_role,
			gb_ai_message_content,
			gb_ai_message_token_count,
			gb_ai_message_run_id,
			gb_ai_message_status,
			gb_ai_message_cards_json,
			gb_ai_message_context_summary_json,
			gb_ai_message_create_time,
			gb_ai_message_update_time
		) VALUES (
			#{conversationId},
			#{userId},
			#{role},
			#{content},
			0,
			#{runId},
			#{status},
			#{cardsJson},
			#{contextSummaryJson},
			#{createTime},
			#{updateTime}
		)
		ON DUPLICATE KEY UPDATE
			gb_ai_message_content = VALUES(gb_ai_message_content),
			gb_ai_message_status = VALUES(gb_ai_message_status),
			gb_ai_message_cards_json = VALUES(gb_ai_message_cards_json),
			gb_ai_message_context_summary_json = VALUES(gb_ai_message_context_summary_json),
			gb_ai_message_update_time = VALUES(gb_ai_message_update_time)
	</insert>

	<select id="selectMessageIdByConversationRunAndRole" resultType="java.lang.Long">
		SELECT gb_ai_message_id FROM gb_ai_message
		WHERE gb_ai_message_conversation_id = #{conversationId}
		  AND gb_ai_message_run_id = #{runId}
		  AND gb_ai_message_role = #{role}
		LIMIT 1
	</select>

</mapper>
