<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nongxinle.mapper.GbDistributerFoodGoodsMapper">

    <select id="queryObject" resultType="com.nongxinle.entity.GbDistributerFoodGoodsEntity">
        select * from gb_distributer_food_goods where gb_distributer_food_goods_id = #{value}
    </select>

    <select id="queryList" resultType="com.nongxinle.entity.GbDistributerFoodGoodsEntity">
        select * from gb_distributer_food_goods
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from gb_distributer_food_goods
    </select>

    <select id="queryFoodGoodsByParams" resultType="com.nongxinle.entity.GbDistributerFoodGoodsEntity">
        select * from gb_distributer_food_goods
        <where>
            <if test="foodId != null">
                and gb_dfg_food_id = #{foodId}
            </if>
            <if test="foodIds != null and foodIds.size() &gt; 0">
                and gb_dfg_food_id in
                <foreach collection="foodIds" item="fid" open="(" separator="," close=")">
                    #{fid}
                </foreach>
            </if>
            <if test="disId != null">
                and gb_dfg_dis_id = #{disId}
            </if>
        </where>
    </select>




    <resultMap id="foodGoodsWithDisGoods" type="com.nongxinle.entity.GbDistributerFoodGoodsEntity">
        <id property="gbDistributerFoodGoodsId" column="gb_distributer_food_goods_id"/>
        <result property="gbDfgDisId" column="gb_dfg_dis_id"/>
        <result property="gbDfgFoodId" column="gb_dfg_food_id"/>
        <result property="gbDfgDisGoodsId" column="gb_dfg_dis_goods_id"/>
        <result property="gbDfgStatus" column="gb_dfg_status"/>
        <result property="gbDfgPortionAmount" column="gb_dfg_portion_amount"/>
        <result property="gbDfgPortionUnit" column="gb_dfg_portion_unit"/>
        <result property="gbDfgPackQtyInMin" column="gb_dfg_pack_qty_in_min"/>
        <result property="gbDfgGoodsAmount" column="gb_dfg_goods_amount"/>
        <result property="gbDfgGoodsName" column="gb_dfg_goods_name"/>
        <result property="gbDfgGoodsStandardname" column="gb_dfg_goods_standardname"/>
        <result property="gbDfgGoodsAveragePrice" column="gb_dfg_goods_average_price"/>
        <association property="gbDistributerGoodsEntity" javaType="com.nongxinle.entity.GbDistributerGoodsEntity">
            <id property="gbDistributerGoodsId" column="gb_distributer_goods_id"/>
            <result property="gbDgGoodsAveragePrice" column="gb_dg_goods_average_price"/>
            <result property="gbDgGoodsName" column="gb_dg_goods_name"/>
            <result property="gbDgGoodsStandardname" column="gb_dg_goods_standardname"/>
            <result property="gbDgGoodsDetail" column="gb_dg_goods_detail"/>
            <result property="gbDgGoodsBrand" column="gb_dg_goods_brand"/>
            <result property="gbDgGoodsPlace" column="gb_dg_goods_place"/>
            <result property="gbDgGoodsPrice" column="gb_dg_goods_price"/>
            <result property="gbDgGoodsLowestPrice" column="gb_dg_goods_lowest_price"/>
            <result property="gbDgGoodsHighestPrice" column="gb_dg_goods_highest_price"/>
            <result property="gbDgControlPrice" column="gb_dg_control_price"/>
            <result property="gbDgControlFresh" column="gb_dg_control_fresh"/>
            <result property="gbDgGoodsType" column="gb_dg_goods_type"/>
            <result property="gbDgDfgGoodsFatherId" column="gb_dg_dfg_goods_father_id"/>
            <result property="gbDgDfgGoodsGrandId" column="gb_dg_dfg_goods_grand_id"/>
            <result property="gbDgDfgGoodsGreatId" column="gb_dg_dfg_goods_great_id"/>
            <result property="gbDgNxGoodsId" column="gb_dg_nx_goods_id"/>
            <result property="gbDgNxFatherImg" column="gb_dg_nx_father_img"/>
            <result property="gbDgNxFatherImgLarge" column="gb_dg_nx_father_img_large"/>
            <result property="gbDgNxDistributerGoodsPrice" column="gb_dg_nx_distributer_goods_price"/>
            <result property="gbDgGbDepartmentId" column="gb_dg_gb_department_id"/>
            <result property="gbDgGoodsIsWeight" column="gb_dg_goods_is_weight"/>
            <result property="gbDgPullOff" column="gb_dg_pull_off"/>
            <result property="gbDgGoodsSonsSort" column="gb_dg_goods_sons_sort"/>
            <result property="gbDgSellingPrice" column="gb_dg_selling_price"/>
            <result property="gbDgGoodsStandardWeight" column="gb_dg_goods_standard_weight"/>
            <result property="gbDgCartonUnit" column="gb_dg_carton_unit"/>
            <result property="gbDgItemsPerCarton" column="gb_dg_items_per_carton"/>
        </association>
    </resultMap>

    <select id="queryFoodGoodsByFoodId" resultMap="foodGoodsWithDisGoods">
        select fg.*,
               IFNULL(priceStats.gb_dfg_goods_average_price, '0') AS gb_dfg_goods_average_price,
               IFNULL(priceStats.gb_dfg_goods_average_price, '0') AS gb_dg_goods_average_price,
               dg.gb_distributer_goods_id, dg.gb_dg_goods_name, dg.gb_dg_goods_standardname,
               dg.gb_dg_goods_detail, dg.gb_dg_goods_brand, dg.gb_dg_goods_place,
               dg.gb_dg_goods_price, dg.gb_dg_goods_lowest_price, dg.gb_dg_goods_highest_price,
               dg.gb_dg_control_price, dg.gb_dg_control_fresh, dg.gb_dg_goods_type,
               dg.gb_dg_dfg_goods_father_id, dg.gb_dg_dfg_goods_grand_id, dg.gb_dg_dfg_goods_great_id,
               dg.gb_dg_nx_goods_id, dg.gb_dg_nx_father_img, dg.gb_dg_nx_father_img_large,
               dg.gb_dg_nx_distributer_goods_price,
               dg.gb_dg_gb_department_id, dg.gb_dg_goods_is_weight, dg.gb_dg_pull_off,
               dg.gb_dg_goods_sons_sort, dg.gb_dg_selling_price, dg.gb_dg_goods_standard_weight,
               dg.gb_dg_carton_unit, dg.gb_dg_items_per_carton
        from gb_distributer_food_goods fg
        left join gb_distributer_goods dg on dg.gb_distributer_goods_id = fg.gb_dfg_dis_goods_id
        left join (
            SELECT gb_dgs_gb_dis_goods_id,
                   gb_dgs_gb_distributer_id,
                   CAST(ROUND(AVG(CAST(gb_dgs_price AS DECIMAL(10, 4))), 4) AS CHAR) AS gb_dfg_goods_average_price
            FROM gb_department_goods_stock
            WHERE gb_dgs_date &gt;= #{stockAvgStartDate}
              AND gb_dgs_date &lt;= #{stockAvgStopDate}
              AND gb_dgs_price IS NOT NULL
              AND TRIM(gb_dgs_price) &lt;&gt; ''
              AND CAST(gb_dgs_price AS DECIMAL(10, 4)) &gt; 0
            GROUP BY gb_dgs_gb_dis_goods_id, gb_dgs_gb_distributer_id
        ) AS priceStats
            ON priceStats.gb_dgs_gb_dis_goods_id = fg.gb_dfg_dis_goods_id
           AND priceStats.gb_dgs_gb_distributer_id = fg.gb_dfg_dis_id
        where fg.gb_dfg_food_id = #{gbDfgFoodId}
        order by fg.gb_distributer_food_goods_id
    </select>

    <select id="queryFoodGoodsByDisGoodsId" resultType="com.nongxinle.entity.GbDistributerFoodGoodsEntity">
        select * from gb_distributer_food_goods
        where gb_dfg_dis_goods_id = #{disGoodsId}
        <if test="disId != null">
            and gb_dfg_dis_id = #{disId}
        </if>
    </select>

    <insert id="save" parameterType="com.nongxinle.entity.GbDistributerFoodGoodsEntity" useGeneratedKeys="true" keyProperty="gbDistributerFoodGoodsId">
        insert into gb_distributer_food_goods
        (gb_dfg_dis_id, gb_dfg_food_id, gb_dfg_dis_goods_id, gb_dfg_goods_amount, gb_dfg_goods_name, gb_dfg_goods_standardname, gb_dfg_status,
         gb_dfg_portion_amount, gb_dfg_portion_unit, gb_dfg_pack_qty_in_min)
        values
        (#{gbDfgDisId}, #{gbDfgFoodId}, #{gbDfgDisGoodsId}, #{gbDfgGoodsAmount}, #{gbDfgGoodsName}, #{gbDfgGoodsStandardname}, #{gbDfgStatus},
         #{gbDfgPortionAmount}, #{gbDfgPortionUnit}, #{gbDfgPackQtyInMin})
    </insert>

    <update id="update" parameterType="com.nongxinle.entity.GbDistributerFoodGoodsEntity">
        update gb_distributer_food_goods
        <set>
            <if test="gbDfgDisId != null">`gb_dfg_dis_id` = #{gbDfgDisId},</if>
            <if test="gbDfgFoodId != null">`gb_dfg_food_id` = #{gbDfgFoodId},</if>
            <if test="gbDfgDisGoodsId != null">`gb_dfg_dis_goods_id` = #{gbDfgDisGoodsId},</if>
            <if test="gbDfgGoodsAmount != null">`gb_dfg_goods_amount` = #{gbDfgGoodsAmount},</if>
            <if test="gbDfgGoodsName != null">`gb_dfg_goods_name` = #{gbDfgGoodsName},</if>
            <if test="gbDfgGoodsStandardname != null">`gb_dfg_goods_standardname` = #{gbDfgGoodsStandardname},</if>
            <if test="gbDfgStatus != null">`gb_dfg_status` = #{gbDfgStatus},</if>
            <if test="gbDfgPortionAmount != null">`gb_dfg_portion_amount` = #{gbDfgPortionAmount},</if>
            <if test="gbDfgPortionUnit != null">`gb_dfg_portion_unit` = #{gbDfgPortionUnit},</if>
            <if test="gbDfgPackQtyInMin != null">`gb_dfg_pack_qty_in_min` = #{gbDfgPackQtyInMin},</if>
        </set>
        where gb_distributer_food_goods_id = #{gbDistributerFoodGoodsId}
    </update>

    <delete id="delete">
        delete from gb_distributer_food_goods where gb_distributer_food_goods_id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from gb_distributer_food_goods where gb_distributer_food_goods_id in
        <foreach item="gbDistributerFoodGoodsId" collection="array" open="(" separator="," close=")">
            #{gbDistributerFoodGoodsId}
        </foreach>
    </delete>

</mapper>
